
.cast-edit-content{
  font-size:14px;
  section{
    >div{
      margin-top: 10px;
      padding: 15px 5% 0 5%;
      &:not(:last-of-type){
        background-color: rgba(255,255,255,.8);
      }
      textarea{
        height:15em;
        resize: none;
        overflow: scroll;
      }
    }
  }

  .mat-form-field{
    width:100%;
  }

  .save-btn{
    >button{
      width:100%;
      margin:0 auto;
    }
  }
  .personal-pic{
    >div{
      &:nth-of-type(1){
        height:5em;
        width:5em;
        margin:0 auto;
        position: relative;
        border-radius: 50%;
        border: 5px inset;
        background-size: 100%;
        background-position: top;
        background-repeat: no-repeat;
        overflow: hidden;
        .edit-mask{
          font-size:0.5em;
          text-align: center;
          background-color: rgba(255,255,255,.65);
          height:20px;
          width: 100%;
          position:absolute;
          bottom: 0;
        }
      }
    }

  }
}
